In [11]:
import pandas as pd
from sqlalchemy import create_engine

In [15]:
ratings_file = "./Data/metacritic_game_info.csv"
ratings_df = pd.read_csv(ratings_file)
ratings_df.head()

,Unnamed: 0,Title,Year,Publisher,Genre,Platform,Metascore,Avg_Userscore,No_Players
0,0,The Legend of Zelda: Ocarina of Time,1998,Nintendo,Action Adventure;Fantasy,Nintendo64,99,9.1,1 Player
1,1,Tony Hawk's Pro Skater 2,2000,NeversoftEntertainment,Sports;Alternative;Skateboarding,PlayStation,98,7.4,1-2
2,2,Grand Theft Auto IV,2008,RockstarNorth,Action Adventure;Modern;Modern;Open-World,PlayStation3,98,7.5,1 Player
3,3,SoulCalibur,1999,Namco,Action;Fighting;3D,Dreamcast,98,8.6,1-2
4,4,Grand Theft Auto IV,2008,RockstarNorth,Action Adventure;Modern;Modern;Open-World,Xbox360,98,7.9,1 Player

In [17]:
#Transform data
#keep year and platform
ratings_columns=["Title", "Year", "Platform", "Metascore", "Avg_Userscore"]
ratings_transformed = ratings_df[ratings_columns].copy()
ratings_transformed.head()

,Title,Year,Platform,Metascore,Avg_Userscore
0,The Legend of Zelda: Ocarina of Time,1998,Nintendo64,99,9.1
1,Tony Hawk's Pro Skater 2,2000,PlayStation,98,7.4
2,Grand Theft Auto IV,2008,PlayStation3,98,7.5
3,SoulCalibur,1999,Dreamcast,98,8.6
4,Grand Theft Auto IV,2008,Xbox360,98,7.9

In [44]:
#Rename Columns
ratings_transformed=ratings_transformed.rename(columns={
    "Title":"name",
    "Avg_Userscore": "average_user_score",
    "Metascore":"metascore",
    "Platform":"platform",
    "Year":"year"
    
})
ratings_transformed.head()

,Name,year,platform,metascore,average_user_score
0,The Legend of Zelda: Ocarina of Time,1998,Nintendo64,99,9.1
1,Tony Hawk's Pro Skater 2,2000,PlayStation,98,7.4
2,Grand Theft Auto IV,2008,PlayStation3,98,7.5
3,SoulCalibur,1999,Dreamcast,98,8.6
4,Grand Theft Auto IV,2008,Xbox360,98,7.9

In [45]:
#drop nan value
ratings_transformed.dropna
ratings_transformed.head()

,Name,year,platform,metascore,average_user_score
0,The Legend of Zelda: Ocarina of Time,1998,Nintendo64,99,9.1
1,Tony Hawk's Pro Skater 2,2000,PlayStation,98,7.4
2,Grand Theft Auto IV,2008,PlayStation3,98,7.5
3,SoulCalibur,1999,Dreamcast,98,8.6
4,Grand Theft Auto IV,2008,Xbox360,98,7.9